.husky
.vscode
.vscode-test
# l10n
node_modules
out
!out/extension.js
resources
scripts
src
.eslintcache
.eslintrc.js
.gitignore
.nvmrc
.vscodeignore
# CHANGELOG.md
install.ps1
# LICENSE
*.vsix
*.d.ts
# package.json
# package.nls.json
# package.nls.zh-cn.json
# README.md
tsconfig.json
yarn.lock
