.husky
.vscode
node_modules
out
!out/extension.js
scripts
src
test-workspace
.eslintcache
.eslintrc.js
.gitignore
.nvmrc
.vscodeignore
# CHANGELOG.md
install.ps1
# LICENSE
*.vsix
# package.json
# package.nls.json
# package.nls.zh-cn.json
# README.md
tsconfig.json
*.d.ts
